* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 17px;
}

body{
  
    min-height: 200vh;

}



h2{
    margin-top: 100px;
} 

main{
    display: grid;
    grid-area: "stack";
}

main h1{
    font-size: 4rem;
}
main h2{
    font-size: 2.5rem;
    margin-top: 2px ;
}

main p{
    font-size: 1.5rem;
}
main img {
    grid-area: stack;
    height: 85%;
}

.main-content {
    grid-area: stack;
    justify-self: center;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    color: #1a1a1a;
    padding: 50px;

    background-color: rgba(255, 255, 255, 0.521);
    border-radius: 20px;
    width: 80%;
    height: 50%;

}

.main-btn {
    text-decoration: none;
    padding: 13px;
    border-radius: 10px;
    border: none;
    background-color: rgb(255, 255, 255, 0.6);
    color: rgba(0, 0, 0, 0.9);
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: background-color 0.3s ease;
    text-decoration: none;

}
.main-link{
    text-decoration: none;
    color: #1a1a1a;
}